<div class="card thumbnail" *ngIf="product">
    <img class="card-img-top" src="assets/img/products/{{product.picture}}" alt="Product Image">
    <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text">Precio: <span>$ {{product.price}}</span></p>
        <p class="card-text">Unidades disponibles: <span>{{product.avalible}}</span></p>
        <div class="row form-group">
            <div class="col">
                <div class="btn-toolbar">
                    <div class="btn-group">
                        <button class="btn btn-primary" (click)="openModalWithComponent()">Detalles</button>
                        <button class="btn btn-warning" (click)="addItemToCart(amount.value)">Añadir</button>
                    </div>
                </div>
                
            </div>
            <div class="col">
                <input type="number" class="form-control" min="1" max="{{product.avalible}}" value="1" #amount>
            </div>
        </div>
    </div>
</div>