<div class="container-fluid login-layout">
  <div class="row mt-4">
    <div class="col-md-4 mx-auto">
      <h1 class="form-title">Iniciar Sesión</h1>

      <form class="form-horizontal" (submit)="onLoginUser()">
        <div class="form-group">
          <label for="userEmail" class="control-label">Correo electrónico</label>
          <input type="email" name="userEmail" placeholder="Correo electrónico" class="form-control" required [(ngModel)]="userEmail" >
        </div>
        <div class="form-group">
          <label for="userPasswd" class="control-label">Contraseña</label>
          <input type="password" name="userPasswd" placeholder="Contraseña" class="form-control" required [(ngModel)]="userPasswd" >
        </div>
        <button type="submit" class="btn btn-success">Ingresar</button>
      </form>
    </div>
  </div>
</div>