<div class="container-fluid main-layout">
    <app-topbar [inCart]="productsInCart"></app-topbar>
    
    <div class="row mt-4">
        <div class="col mx-auto">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <div class="row">
                            <div class="col-10">
                                <h3>Catálogo de Productos</h3>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label for="productSearch">¿Qué estás buscando?</label>
                                    <input type="text" class="form-control" id="productSearch" placeholder="Producto a buscar" [(ngModel)]="searchText">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row scroll-box">
                        <div class="col-3" *ngFor="let productItem of productList | filter: searchText">
                            <app-product-item [product]="productItem"></app-product-item>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>