<div class="container-fluid main-layout">
    <app-topbar></app-topbar>

    <div class="row mt-4">
        <div class="col mx-auto">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h3>Carro de Productos</h3>
                    </div>
                    <div class="row">
                        <div class="col">

                            <ul class="list-group">
                                <li class="list-group-item">
                                    <app-product-in-cart></app-product-in-cart>
                                </li>
                                
                            </ul>

                        </div>
                        <div class="col">
                            <h1>Total a pagar</h1>
                            <h3>$ 0</h3>

                            <button disabled="disabled" class="btn btn-warning">Cancelar</button>
                            <button disabled="disabled" class="btn btn-success">Pagar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>